# Pandas tutorial

This Notebook aims at gathering all the essentials that are important to know when starting learning pandas.

The source material is from: https://www.youtube.com/watch?v=DkjCaAMBGWM&ab_channel=RobMulla

Another interesting resource is: https://wesmckinney.com/book/pandas-basics

The idea of this notebook is to gather the information at the same place

## Import the libraries

In [1]:
import os
# Check the kernel local (Python) interpreter
import sys
print("Python executable", sys.executable)
print("System version", sys.version)

Python executable /Users/maximecollet/Desktop/Data Science Training/1. Learning/Youtube_tutorials/Pandas/.venv/bin/python
System version 3.13.3 (main, Apr  8 2025, 13:54:08) [Clang 16.0.0 (clang-1600.0.26.6)]

This is important especially when manually setting up Notebook. It may happen (using Pycharm it is always the case) that the interpreter (kernel) does not point toward the local `.venv`. So in order to check if we will have any issue, it is a good practice to check where the system executable lies. In the example above, in the global system. The workaround is to select the correct interpreter in the IDE.

In [2]:
import pandas as pd
print("Pandas version", pd.__version__)

Pandas version 2.3.2

## Import data

In this section we will load the data directly from Kaggle as a zip file

**Note**: in order to reload the helper function when modified I use the `importlib` module but I could also do:

```
%load_ext autoreload
%autoreload 2

import helper  # module

call the function helper.my_func()

```

In [3]:
import helper
from  importlib import  reload

In [4]:
reload(helper)

In [6]:
destination = os.path.join(os.getcwd(), "data")

In [7]:
if os.path.exists("archive.zip"):
    print(helper.unzip_file("archive.zip", destination))
else:
    print("No Zip file: the data must be unzipped or needs to be downloaded")

No Zip file: the data must be unzipped or needs to be downloaded

## Load data into a DataFrame

- Create from scratch
- use a built in method:`.read_...()` the default parameters are enough but we can use parameters if we want

In [8]:
# Create a DataFrame from scratch:
my_data_dict = {"Name":["Alice", "Bob", "Tom"],
                "Age": [30, 35, 45],
                "Location":["Belgium","UK","USA"]
                }

my_df = pd.DataFrame(my_data_dict)

In [9]:
my_df

    Name  Age Location
0  Alice   30  Belgium
1    Bob   35       UK
2    Tom   45      USA

In [10]:
# Read from a another file
df = pd.read_csv("data/Combined_Flights_2018.csv")

## DataFrame Basics

- `df.head()/df.tail()`: 5 first columns/5 last columns
- `df.sample(size)`: random selection of size (add a state for reproducibility of results)
- `df.columns`: gives us the columns in the dataframe
- `df.index`: same but for the index
- `df.info()`: for a general information about the dataframe (use in conjuction with the `verbose=False` to have only a summary
- `df.describe()`: descriptive statistics values on numerical columns (only). Works also on non numeric columns ! So we can access a column and have some information about it
- `df.shape`: provides a tuple with (n_rows x n_columns). We can use `len(df)` to get the number of rows

In [11]:
# df.head()/df.tail()
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1210.0,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,1153.0,0.0,-9.0,...,1211.0,1251.0,11.0,1304,-2.0,0.0,-1.0,1300-1359,1,0.0
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,1150.0,0.0,-12.0,...,1207.0,1242.0,11.0,1304,-11.0,0.0,-1.0,1300-1359,1,0.0
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,1355.0,0.0,-5.0,...,1412.0,1448.0,11.0,1500,-1.0,0.0,-1.0,1500-1559,1,0.0

In [12]:
df.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
5689507,2018-09-11,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,1433.0,0.0,-12.0,...,1437.0,1512.0,3.0,1546,-31.0,0.0,-2.0,1500-1559,1,0.0
5689508,2018-09-11,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,1224.0,0.0,-11.0,...,1254.0,1337.0,7.0,1355,-11.0,0.0,-1.0,1300-1359,1,0.0
5689509,2018-09-11,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,1016.0,0.0,-14.0,...,1036.0,1130.0,7.0,1204,-27.0,0.0,-2.0,1200-1259,2,0.0
5689510,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,1403.0,0.0,-7.0,...,1428.0,1712.0,5.0,1726,-9.0,0.0,-1.0,1700-1759,3,0.0
5689511,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,1754.0,0.0,-6.0,...,1808.0,1904.0,15.0,1933,-14.0,0.0,-1.0,1900-1959,3,0.0

In [13]:
# extract a sample of the dataframe
df.sample(5, random_state=42) # use a number for reproducibility.

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
2846883,2018-03-24,Hawaiian Airlines Inc.,LIH,HNL,False,False,1900,1855.0,0.0,-5.0,...,1901.0,1920.0,7.0,1935,-8.0,0.0,-1.0,1900-1959,1,0.0
3173911,2018-04-23,Endeavor Air Inc.,BOS,PIT,False,False,2055,2111.0,16.0,16.0,...,2133.0,2253.0,23.0,2249,27.0,1.0,1.0,2200-2259,2,0.0
2435108,2018-02-16,Southwest Airlines Co.,HOU,ECP,False,False,1650,1728.0,38.0,38.0,...,1744.0,1859.0,4.0,1820,43.0,1.0,2.0,1800-1859,3,0.0
2234995,2018-12-07,Southwest Airlines Co.,MDW,MCO,False,False,1845,1851.0,6.0,6.0,...,1900.0,2207.0,7.0,2215,-1.0,0.0,-1.0,2200-2259,4,0.0
3986585,2018-06-03,Southwest Airlines Co.,LAS,LIT,False,False,1200,1201.0,1.0,1.0,...,1208.0,1637.0,2.0,1655,-16.0,0.0,-2.0,1600-1659,6,0.0

In [14]:
# df.columns
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [15]:
# df.index
df.index

RangeIndex(start=0, stop=5689512, step=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689512 entries, 0 to 5689511
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               object
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       float64
dtypes: bool(2), float64(19), int64(22), object(18)
memory usage: 2.5+ GB

In [17]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5689512 entries, 0 to 5689511
Columns: 61 entries, FlightDate to DivAirportLandings
dtypes: bool(2), float64(19), int64(22), object(18)
memory usage: 2.5+ GB

In [18]:
# df.describe()
df.describe()

,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,...,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,5.689512e+06,5.604132e+06,5.602937e+06,5.602937e+06,5.598897e+06,5.586619e+06,5.580241e+06,5.689506e+06,5.587165e+06,5.689512e+06,...,5.594818e+06,5.594828e+06,5.591963e+06,5.591953e+06,5.689512e+06,5.586619e+06,5.586619e+06,5.586619e+06,5.689512e+06,5.689511e+06
mean,1.330341e+03,1.334473e+03,1.346201e+01,1.014888e+01,1.462641e+03,1.368363e+01,1.101716e+02,1.389089e+02,1.344377e+02,7.878012e+02,...,1.704049e+01,1.357922e+03,1.458453e+03,7.364397e+00,1.482252e+03,5.416295e+00,1.948123e-01,-1.636356e-01,3.625993e+00,3.568496e-03
std,4.913570e+02,5.048563e+02,4.420411e+01,4.536897e+01,5.405804e+02,4.402848e+01,7.058990e+01,7.288408e+01,7.258416e+01,5.943094e+02,...,9.802525e+00,5.063342e+02,5.365503e+02,5.893011e+00,5.212881e+02,4.746066e+01,3.960562e-01,2.350674e+00,2.342451e+00,1.112816e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,-1.280000e+03,1.000000e+00,0.000000e+00,-1.244000e+03,-9.900000e+01,-1.228000e+03,1.600000e+01,...,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-1.290000e+03,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
25%,9.150000e+02,9.160000e+02,0.000000e+00,-6.000000e+00,1.046000e+03,0.000000e+00,5.900000e+01,8.600000e+01,8.200000e+01,3.490000e+02,...,1.100000e+01,9.310000e+02,1.042000e+03,4.000000e+00,1.058000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00
50%,1.323000e+03,1.327000e+03,0.000000e+00,-2.000000e+00,1.503000e+03,0.000000e+00,9.200000e+01,1.200000e+02,1.170000e+02,6.280000e+02,...,1.400000e+01,1.341000e+03,1.500000e+03,6.000000e+00,1.512000e+03,-6.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
75%,1.735000e+03,1.745000e+03,7.000000e+00,7.000000e+00,1.915000e+03,8.000000e+00,1.390000e+02,1.700000e+02,1.650000e+02,1.024000e+03,...,2.000000e+01,1.800000e+03,1.910000e+03,9.000000e+00,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
max,2.359000e+03,2.400000e+03,2.625000e+03,2.625000e+03,2.400000e+03,2.635000e+03,6.960000e+02,1.645000e+03,7.570000e+02,4.983000e+03,...,1.394000e+03,2.400000e+03,2.400000e+03,2.590000e+02,2.400000e+03,2.635000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00

In [19]:
# df.shape
df.shape, len(df)
df.sample()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
5034944,2018-08-13,American Airlines Inc.,DFW,SAT,False,False,850,913.0,23.0,23.0,...,939.0,1023.0,4.0,951,36.0,1.0,2.0,0900-0959,1,0.0

## Subsetting a dataframe

We may want to subset on rows or columns

**For columns**:

- `df[list_columns`]: The idea is that as long as we pass a list of column in the brackets we can practically do whatever we want:
    a. List: `df[[col1, col2, col3]]`
    b. Slicing: `df[df.index[:5]]` we use the index to slice the first 5
    c. List comprehension: `df[[c for c in df.index if "Time" in c]]`
    d. etc.
- `df.select_dtypes(type)`: returns only with the type we provide.

**Note**: if we want to return only a single column we simply need to use: `df[col_name]` this in turns returns only a Series and not a DataFrame. If we want a DataFrame: `df[[col_name]]`

**For rows**:

we will be using mainly: `.loc[]` (names) and `.iloc[]` (index location)

- `df.iloc[row_num, col_num]`: if we write `df.iloc[3,4]` this will return what is in the fourth row (index start at 0) and fourth column. This of course works also with indexing: `df.iloc[:5, :5]` will return a dataframe with 6 rows and 5 columns. If we enter only a signle value we get a Series ang again putting everything in a list will return a DataFrame instead.
- `df.loc[]`: works the same but we need to pass not the column number but the column name. Now which means that we can open the power of using boolean expression.

    `df.loc[df["ArrTime"]==38.0]`. The way it works is that when we create a boolean comparison, we get in return a true or false series that can be passed to the `loc` and of course because of this we can combine with AND (`&`) and OR (`|`) to make the queries more complex and have more filtering capabilities. If we want to get the opposite of our filter: use `~`

In [20]:
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [21]:
# subsetting
sub_set_col = ["OriginStateFips", "DestStateName","DestWac","TaxiIn","ArrivalDelayGroups"]
df[sub_set_col]

         OriginStateFips   DestStateName  DestWac  TaxiIn  ArrivalDelayGroups
0                     13         Georgia       34     7.0                -1.0
1                     13         Georgia       34    12.0                -1.0
2                     13         Georgia       34    11.0                -1.0
3                     13         Georgia       34    11.0                -1.0
4                     13         Georgia       34    11.0                -1.0
...                  ...             ...      ...     ...                 ...
5689507               42        Virginia       38     3.0                -2.0
5689508               51  North Carolina       36     7.0                -1.0
5689509               18        Illinois       41     7.0                -2.0
5689510               17        New York       22     5.0                -1.0
5689511               36        Illinois       41    15.0                -1.0

[5689512 rows x 5 columns]

In [22]:
# Using list comprehension
sub_set_col = [content for content in df.columns if "Time" in content]
df[sub_set_col]

,CRSDepTime,DepTime,ArrTime,AirTime,CRSElapsedTime,ActualElapsedTime,DepTimeBlk,CRSArrTime,ArrTimeBlk
0,1202,1157.0,1256.0,38.0,62.0,59.0,1200-1259,1304,1300-1359
1,1202,1157.0,1258.0,36.0,62.0,61.0,1200-1259,1304,1300-1359
2,1202,1153.0,1302.0,40.0,62.0,69.0,1200-1259,1304,1300-1359
3,1202,1150.0,1253.0,35.0,62.0,63.0,1200-1259,1304,1300-1359
4,1400,1355.0,1459.0,36.0,60.0,64.0,1400-1459,1500,1500-1559
...,...,...,...,...,...,...,...,...,...
5689507,1445,1433.0,1515.0,35.0,61.0,42.0,1400-1459,1546,1500-1559
5689508,1235,1224.0,1344.0,43.0,80.0,80.0,1200-1259,1355,1300-1359
5689509,1030,1016.0,1137.0,54.0,94.0,81.0,1000-1059,1204,1200-1259
5689510,1410,1403.0,1717.0,104.0,136.0,134.0,1400-1459,1726,1700-1759
5689511,1800,1754.0,1919.0,116.0,153.0,145.0,1800-1859,1933,1900-1959

In [23]:
# Difference in returning a series of a Dataframe with a single column
type(df["DivAirportLandings"])

pandas.core.series.Series

In [24]:
type(df[["DivAirportLandings"]])

pandas.core.frame.DataFrame

In [25]:
# Using .iloc[] or .loc[]
df_iloc = df.sample(10, random_state=42).iloc[:5,:5]
df_iloc

         FlightDate                 Airline Origin Dest  Cancelled
2846883  2018-03-24  Hawaiian Airlines Inc.    LIH  HNL      False
3173911  2018-04-23       Endeavor Air Inc.    BOS  PIT      False
2435108  2018-02-16  Southwest Airlines Co.    HOU  ECP      False
2234995  2018-12-07  Southwest Airlines Co.    MDW  MCO      False
3986585  2018-06-03  Southwest Airlines Co.    LAS  LIT      False

In [26]:
df_iloc.loc[2234995]

FlightDate                2018-12-07
Airline       Southwest Airlines Co.
Origin                           MDW
Dest                             MCO
Cancelled                      False
Name: 2234995, dtype: object

In [27]:
df_iloc.loc[df_iloc["Dest"] == "MCO"]

         FlightDate                 Airline Origin Dest  Cancelled
2234995  2018-12-07  Southwest Airlines Co.    MDW  MCO      False

## Filtering using Query

`df.query(DepTime > 1130)`: filtering based on a string representation of what we want

In [28]:
min_time = 1130

In [30]:
df.query("(DepTime >@min_time) and (Origin == 'DRO')")

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
24675,2018-01-19,SkyWest Airlines Inc.,DRO,DEN,False,False,1805,1742.0,0.0,-23.0,...,1754.0,1838.0,34.0,1922,-10.0,0.0,-1.0,1900-1959,2,0.0
24720,2018-01-19,SkyWest Airlines Inc.,DRO,DEN,False,False,1545,1529.0,0.0,-16.0,...,1544.0,1625.0,9.0,1655,-21.0,0.0,-2.0,1600-1659,2,0.0
24991,2018-01-19,SkyWest Airlines Inc.,DRO,DEN,False,False,1330,1321.0,0.0,-9.0,...,1333.0,1419.0,8.0,1439,-12.0,0.0,-1.0,1400-1459,2,0.0
27338,2018-01-05,SkyWest Airlines Inc.,DRO,DEN,False,False,1805,1747.0,0.0,-18.0,...,1801.0,1845.0,12.0,1920,-23.0,0.0,-2.0,1900-1959,2,0.0
27380,2018-01-05,SkyWest Airlines Inc.,DRO,DEN,False,False,1550,1539.0,0.0,-11.0,...,1549.0,1634.0,7.0,1659,-18.0,0.0,-2.0,1600-1659,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5576606,2018-09-14,SkyWest Airlines Inc.,DRO,DEN,False,False,1551,1545.0,0.0,-6.0,...,1558.0,1645.0,6.0,1700,-9.0,0.0,-1.0,1700-1759,2,0.0
5578380,2018-09-15,SkyWest Airlines Inc.,DRO,DEN,False,False,1551,1550.0,0.0,-1.0,...,1603.0,1650.0,9.0,1700,-1.0,0.0,-1.0,1700-1759,2,0.0
5689157,2018-09-11,Trans States Airlines,DRO,DEN,False,False,1551,1543.0,0.0,-8.0,...,1554.0,1643.0,7.0,1700,-10.0,0.0,-1.0,1700-1759,2,0.0
5689165,2018-09-11,Trans States Airlines,DRO,DEN,False,False,1750,1745.0,0.0,-5.0,...,1757.0,1847.0,11.0,1906,-8.0,0.0,-1.0,1900-1959,2,0.0
5689258,2018-09-11,Trans States Airlines,DRO,DEN,False,False,1310,1302.0,0.0,-8.0,...,1311.0,1357.0,3.0,1420,-20.0,0.0,-2.0,1400-1459,2,0.0

## Summarizing Data

- min
- max
- mean
- mode
- std
- var
- count
- sum
- quantile and quantile(list)

use the `.agg` method to run several statistics at the same time

`df[["DepTime","DepDelay","ArrTime", "ArrDelay"]].agg(["mean", "min", "max"])`

In [31]:
df[["DepTime","DepDelay","ArrTime", "ArrDelay"]].agg(["mean", "min", "max"])

          DepTime     DepDelay     ArrTime     ArrDelay
mean  1334.472821    10.148876  1462.64131     5.416295
min      1.000000 -1280.000000     1.00000 -1290.000000
max   2400.000000  2625.000000  2400.00000  2635.000000

To summarize categorical variables:

- `.unique()`
- `.nunique()`
- `.value_counts()`

In [32]:
df["Airline"].unique()

array(['Endeavor Air Inc.', 'JetBlue Airways', 'ExpressJet Airlines Inc.',
       'Allegiant Air', 'Hawaiian Airlines Inc.', 'Spirit Air Lines',
       'SkyWest Airlines Inc.', 'Frontier Airlines Inc.',
       'Empire Airlines Inc.', 'Southwest Airlines Co.',
       'Mesa Airlines Inc.', 'Republic Airlines', 'Delta Air Lines Inc.',
       'United Air Lines Inc.', 'Alaska Airlines Inc.', 'Horizon Air',
       'Commutair Aka Champlain Enterprises, Inc.',
       'Trans States Airlines',
       'GoJet Airlines, LLC d/b/a United Express',
       'Air Wisconsin Airlines Corp', 'Cape Air', 'Compass Airlines',
       'Virgin America', 'Peninsula Airways Inc.', 'Envoy Air',
       'American Airlines Inc.', 'Comair Inc.',
       'Capital Cargo International'], dtype=object)

In [33]:
df["Airline"].nunique()

28

In [34]:
df["Airline"].value_counts()

Airline
Southwest Airlines Co.                       1352552
United Air Lines Inc.                         621565
SkyWest Airlines Inc.                         531792
Delta Air Lines Inc.                          461718
American Airlines Inc.                        385183
JetBlue Airways                               305010
Republic Airlines                             203529
Alaska Airlines Inc.                          184751
Spirit Air Lines                              176178
ExpressJet Airlines Inc.                      167180
Mesa Airlines Inc.                            153697
Envoy Air                                     127750
Frontier Airlines Inc.                        120035
Endeavor Air Inc.                             120030
Comair Inc.                                   117132
Air Wisconsin Airlines Corp                    98763
Allegiant Air                                  96221
Horizon Air                                    85245
Hawaiian Airlines Inc.                         83723
Trans States Airlines                          66885
GoJet Airlines, LLC d/b/a United Express       63498
Commutair Aka Champlain Enterprises, Inc.      48010
Compass Airlines                               44898
Capital Cargo International                    44440
Virgin America                                 17670
Empire Airlines Inc.                            9087
Cape Air                                        1661
Peninsula Airways Inc.                          1309
Name: count, dtype: int64

In [36]:
df[["Airline", "Origin"]].value_counts().reset_index()

                                       Airline Origin   count
0                         Delta Air Lines Inc.    ATL  119934
1                       Southwest Airlines Co.    MDW   82216
2                        United Air Lines Inc.    ORD   77418
3                       Southwest Airlines Co.    LAS   73419
4                       Southwest Airlines Co.    BWI   72226
...                                        ...    ...     ...
2434                             Allegiant Air    BHM       1
2435  GoJet Airlines, LLC d/b/a United Express    CAK       1
2436                          Compass Airlines    IDA       1
2437               Capital Cargo International    PIT       1
2438                     Trans States Airlines    ORF       1

[2439 rows x 3 columns]

In [37]:
df[["Airline", "Origin"]].value_counts(normalize=True).reset_index()

                                       Airline Origin    proportion
0                         Delta Air Lines Inc.    ATL  2.107984e-02
1                       Southwest Airlines Co.    MDW  1.445045e-02
2                        United Air Lines Inc.    ORD  1.360714e-02
3                       Southwest Airlines Co.    LAS  1.290427e-02
4                       Southwest Airlines Co.    BWI  1.269459e-02
...                                        ...    ...           ...
2434                             Allegiant Air    BHM  1.757620e-07
2435  GoJet Airlines, LLC d/b/a United Express    CAK  1.757620e-07
2436                          Compass Airlines    IDA  1.757620e-07
2437               Capital Cargo International    PIT  1.757620e-07
2438                     Trans States Airlines    ORF  1.757620e-07

[2439 rows x 3 columns]

## Advanced Column Methods

- `.rank()`
- `shift()`: shift the number of the column by a value
- `.cumsum()`
- `cummax()`
- `.cummin()`
- `.rolling()....`
- .clip()

## GroupBy Methods

Really useful when we are dealing with data with categorical type

e.g., `df.groupby("Airline")["DepDelay"].mean()`

In [41]:
df.groupby("Airline")[["DepDelay"]].mean()

                                            DepDelay
Airline
Air Wisconsin Airlines Corp                11.405747
Alaska Airlines Inc.                        2.021924
Allegiant Air                              12.922575
American Airlines Inc.                     10.121187
Cape Air                                   -2.729355
Capital Cargo International                10.441951
Comair Inc.                                 9.471686
Commutair Aka Champlain Enterprises, Inc.  24.726451
Compass Airlines                           10.080122
Delta Air Lines Inc.                        5.690527
Empire Airlines Inc.                        8.480185
Endeavor Air Inc.                           9.644629
Envoy Air                                   6.885426
ExpressJet Airlines Inc.                   11.855062
Frontier Airlines Inc.                     19.684102
GoJet Airlines, LLC d/b/a United Express   11.872817
Hawaiian Airlines Inc.                      0.913099
Horizon Air                                 3.073117
JetBlue Airways                            15.869267
Mesa Airlines Inc.                         11.612683
Peninsula Airways Inc.                     10.671280
Republic Airlines                           7.699234
SkyWest Airlines Inc.                       9.949630
Southwest Airlines Co.                     11.138968
Spirit Air Lines                            9.868512
Trans States Airlines                      16.788899
United Air Lines Inc.                      10.060413
Virgin America                              6.333836

In [42]:
df.groupby("Airline")[["DepDelay"]].agg(["mean","max","min"])

                                            DepDelay
                                                mean     max     min
Airline
Air Wisconsin Airlines Corp                11.405747  1296.0   -49.0
Alaska Airlines Inc.                        2.021924   839.0  -114.0
Allegiant Air                              12.922575  1462.0   -53.0
American Airlines Inc.                     10.121187  2109.0   -31.0
Cape Air                                   -2.729355   430.0   -50.0
Capital Cargo International                10.441951   841.0   -45.0
Comair Inc.                                 9.471686  1121.0   -34.0
Commutair Aka Champlain Enterprises, Inc.  24.726451  1352.0   -31.0
Compass Airlines                           10.080122  2625.0 -1280.0
Delta Air Lines Inc.                        5.690527  1207.0   -40.0
Empire Airlines Inc.                        8.480185   655.0   -42.0
Endeavor Air Inc.                           9.644629  1921.0   -38.0
Envoy Air                                   6.885426  1163.0   -40.0
ExpressJet Airlines Inc.                   11.855062  1522.0   -36.0
Frontier Airlines Inc.                     19.684102  1254.0   -60.0
GoJet Airlines, LLC d/b/a United Express   11.872817  1545.0  -611.0
Hawaiian Airlines Inc.                      0.913099  2482.0   -37.0
Horizon Air                                 3.073117   640.0   -54.0
JetBlue Airways                            15.869267  1489.0   -32.0
Mesa Airlines Inc.                         11.612683  1789.0   -30.0
Peninsula Airways Inc.                     10.671280   470.0   -33.0
Republic Airlines                           7.699234  1270.0   -48.0
SkyWest Airlines Inc.                       9.949630  2098.0   -60.0
Southwest Airlines Co.                     11.138968   713.0   -49.0
Spirit Air Lines                            9.868512  1527.0   -47.0
Trans States Airlines                      16.788899  1519.0   -51.0
United Air Lines Inc.                      10.060413  1431.0  -122.0
Virgin America                              6.333836   520.0   -24.0

## Create New colum

to create a new column it is as simple as:

`df[new_col] = something` 

`df.assign(new_col = something)`

In [43]:
df["DepTime2"] = df["DepTime"]/60

In [44]:
df

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,...,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime2
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0,19.283333
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,...,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0,19.283333
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,1153.0,0.0,-9.0,...,1251.0,11.0,1304,-2.0,0.0,-1.0,1300-1359,1,0.0,19.216667
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,1150.0,0.0,-12.0,...,1242.0,11.0,1304,-11.0,0.0,-1.0,1300-1359,1,0.0,19.166667
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,1355.0,0.0,-5.0,...,1448.0,11.0,1500,-1.0,0.0,-1.0,1500-1559,1,0.0,22.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5689507,2018-09-11,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,1433.0,0.0,-12.0,...,1512.0,3.0,1546,-31.0,0.0,-2.0,1500-1559,1,0.0,23.883333
5689508,2018-09-11,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,1224.0,0.0,-11.0,...,1337.0,7.0,1355,-11.0,0.0,-1.0,1300-1359,1,0.0,20.400000
5689509,2018-09-11,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,1016.0,0.0,-14.0,...,1130.0,7.0,1204,-27.0,0.0,-2.0,1200-1259,2,0.0,16.933333
5689510,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,1403.0,0.0,-7.0,...,1712.0,5.0,1726,-9.0,0.0,-1.0,1700-1759,3,0.0,23.383333
5689511,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,1754.0,0.0,-6.0,...,1904.0,15.0,1933,-14.0,0.0,-1.0,1900-1959,3,0.0,29.233333

## Sorting Data

`df.sort_values(col)`

`.sort_index()`

## Handling missing data

- `.isna()` we can also do `.isna().sum()`to get 
- `.dropna()`: remove row where there are NaN values we can also pass a subset of columns: `.dropna(subset=[col1])`
- `.fillna(what to replace)`

## Combining data

In [49]:
df1 = df.query("Airline == 'Southwest Airlines Co.'").copy()
df2 = df.query("Airline == 'Delta Air Lines Inc.'").copy()

In [50]:
df1.shape

(1352552, 62)

In [51]:
df.shape

(5689512, 62)

In [54]:
df_stack = pd.concat([df1, df2])
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)
df_side = pd.concat([df1, df2], axis=1)

In [55]:
df_stack.shape, df_side.shape

((1814270, 62), (1352552, 124))

## Merge data